/* General Styles */
body {
    font-family: 'Roboto', sans-serif;
    color: #333;
    background-color: #A4B0FF;
    margin: 0;
    padding: 0;
}

h1, h2, h3 {
    margin: 0;
    padding: 10px;
    color: #212529;
}

ul {
    list-style: none;
    padding: 0;
}

a {
    color: #2787EA;
    text-decoration: none;
    transition: color 0.3s ease;
}

a:hover {
    color: #1C67D2;
}

/* Hero Section */
.hero-section {
    background: linear-gradient(to right, #2787EA, #1C67D2);
    color: #fff;
    text-align: center;
    padding: 120px 0;
    border-bottom-left-radius: 50% 15%;
    border-bottom-right-radius: 50% 15%;
}

.hero-content {
    max-width: 600px;
    margin: 0 auto;
}

.profile-photo {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 4px solid #fff;
    margin-bottom: 20px;
}

.headline {
    font-size: 1.7em;
    margin-bottom: 40px;
}

.cta-button {
    padding: 12px 25px;
    background-color: #A4B0FF;
    color: #fff;
    border-radius: 30px;
    text-transform: uppercase;
    font-weight: bold;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.cta-button:hover {
    background-color:#c1c9fa;
    transform: scale(1.1);
}

/* About Section */
.about-section {
    padding: 60px;
    background-color: #A4B0FF;
    text-align: center;
    border-radius: 20px;
    margin: 20px auto;
    max-width: 900px;
}

.about-section p {
    max-width: 700px;
    margin: 0 auto;
    line-height: 1.7;
}

/* Skills Section */
.skills-section {
    padding: 60px;
    background: linear-gradient(to right,  #2787EA,#2787EA);
    color: #fff;
    text-align: center;
}

.skills-list {
    max-width: 800px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.skills-list li {
    width: 30%;
    background: rgba(255, 255, 255, 0.15);
    padding: 15px;
    margin: 10px;
    border-radius: 10px;
    transition: transform 0.3s ease, background-color 0.3s ease;
}

.skills-list li:hover {
    transform: scale(1.05);
    background-color: #5fa6ed;
}

/* Footer */
footer {
    padding: 20px;
    background-color: #343a40;
    color: #fff;
    text-align: center;
}

footer a {
    color: #ffc107;
}

footer a:hover {
    color: #e0a800;
}
